	.timer {
		text-align: center; /* Übernommen vom äußeren div */
		margin-top: 40px; /* Spezifischer Abstand nach oben für das äußere div */
		font-family: 'Lucida Console', monospace; /* Gemeinsamer Schriftstil */
		line-height: 1.4; /* Gemeinsamer Zeilenabstand */
	}

	.timer h1 {
		margin: 0;
		padding-top: 20px; /* Spezifischer Abstand oben für h1 */
		font-size: 50px; /* Schriftgröße für h1 */
		/* line-height für h1 ist durch .timer geerbt */
	}

	.timer p {
		margin: 50px 0; /* Spezifischer Abstand oben und unten für p */
		font-size: 20px; /* Schriftgröße für p */
		line-height: 1.6; /* Spezifischer Zeilenabstand für p */
		/* font-family für p ist durch .timer geerbt */
	}

	.timer .date-time {
		font-size: 30px; /* Schriftgröße für Datum und Uhrzeit */
		/* line-height für Datum und Uhrzeit ist durch .timer geerbt */
	}

	.timer .countdown {
		font-size: 40px; /* Schriftgröße für Countdown */
		color: #DC143C; /* Schriftfarbe für Countdown */
		margin: 20px 0; /* Spezifischer Abstand oben und unten für Countdown */
		/* line-height für Countdown ist durch .timer geerbt */
	}
	
	.galerie {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 10px; /* Abstand zwischen den Kacheln */
		justify-content: center; /* Zentriert die Kacheln im Container */
		margin: 20px;
	}

	.gallery-image {
		width: 100%; /* Anpassung nach Bedarf */
		max-width: 200px; /* Maximale Breite jedes Bildes in der Galerie */
		height: 200px; /* Höhe automatisch anpassen */
		margin: 0px; /* Abstand zwischen den Bildern */
		cursor: pointer; /* Cursor ändern, um Klickbarkeit anzudeuten */
		transition: transform 0.2s; /* Animation beim Hover */
		object-fit: cover;
	}

	.gallery-image:hover {
		transform: scale(1.05); /* Vergrößern beim Darüberfahren */
	}

	.modal {
		display: none; /* Standardmäßig versteckt */
		position: fixed; /* Fixiert im Blickfeld */
		z-index: 1000; /* Sichert, dass es über anderen Elementen liegt */
		left: 0;
		top: 0;
		width: 100%; /* Volle Breite */
		height: 100%; /* Volle Höhe */
		overflow: auto; /* Bei Bedarf scrollen */
		background-color: rgb(0,0,0); /* Hintergrundfarbe */
		background-color: rgba(0,0,0,0.9); /* Schwarz, leicht transparent */
	}

	.modal-content {
		margin: auto;
		display: block;
		width: 80%; /* Anpassung nach Bedarf */
		max-width: 700px; /* Maximale Breite des Bildes */
		max-height: 80%; /* Begrenzt die Höhe des Bildes, um sicherzustellen, dass es innerhalb des Bildschirms passt */
		max-width: 90%; /* Begrenzt die Breite des Bildes */
		object-fit: contain; /* Stellt sicher, dass das Bild seine Proportionen behält, ohne abgeschnitten zu werden */
	}

	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		cursor: pointer;
	}

	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none; /* Verhindert das Auswählen des Textes */
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
	}

	.gaestebuch {
		margin-top: 25px; /* Abstand zum oberen Rand */
		margin-left: 25px; /* Abstand zum linken Rand */
		color: black; /* Schriftfarbe */
		font-family: 'Lucida Console', monospace; /* Schriftart*/
		font-size: 23px; /* Schriftgröße */
	}

	.upload {
		margin: 20px auto;
		padding: 20px;
		font-family: 'Lucida Console', monospace;
		background-color: #f0f0f0; /* Hellgrauer Hintergrund */
		border: 1px solid #ddd; /* Grauer Rand */
		border-radius: 8px; /* Abgerundete Ecken */
		max-width: 400px; /* Maximale Breite */
		text-align: center; /* Zentrierter Text */
	}

	.upload input[type="file"] {
		margin: 10px 0; /* Abstand oben und unten */
		font-family: 'Lucida Console', monospace;
	}

	.upload input[type="submit"] {
		background-color: #007bff; /* Blauer Hintergrund */
		font-family: 'Lucida Console', monospace;
		color: white; /* Weißer Text */
		padding: 10px 20px; /* Polsterung */
		border: none; /* Kein Rand */
		border-radius: 5px; /* Leicht abgerundete Ecken */
		cursor: pointer; /* Cursor als Zeiger */
	}

	.upload input[type="submit"]:hover {
		background-color: #0056b3; /* Dunklerer Blauton beim Hover */
		font-family: 'Lucida Console', monospace;
	}

	@media (max-width: 600px) {
		.galerie {
			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		}

		.gallery-image {
			height: 150px; /* Passen Sie die Höhe auf kleineren Bildschirmen an */
		}
	}

	@media (max-width: 600px) {
		body {
			font-size: 16px; /* Erhöhen Sie die Schriftgröße für bessere Lesbarkeit */
		}
	}
		
	@media (max-width: 600px) {
    .modal-content {
        max-height: 90%; /* Erlaubt dem Bild, mehr Platz einzunehmen, da die Bildschirmhöhe begrenzter ist */
        max-width: 95%; /* Nutzt mehr von der Bildschirmbreite aus */
    }
}

	#besucherzaehler-container {
		position: fixed; /* Position fixiert relativ zum Viewport */
		left: 0; /* Linken Rand auf 0 setzen */
		right: 0; /* Rechten Rand auf 0 setzen */
		bottom: 10px; /* Abstand vom unteren Rand des Bildschirms */
		text-align: center; /* Zentriert den Inhalt */
		z-index: 1000; /* Stellt sicher, dass der Container über anderen Elementen liegt */
	}

	#besucherzaehler-container p {
		margin: 0; /* Entfernt den Standard-Abstand */
		padding: 5px; /* Etwas Innenabstand */
		background: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe mit etwas Transparenz */
		color: white; /* Textfarbe */
		font-family: 'Lucida Console', monospace;
		display: inline-block; /* Ermöglicht das Zentrieren mit text-align im Elternelement */
		border-radius: 5px; /* Runde Ecken */
	}
	
	.converter-section {
    font-family: 'Courier New', monospace;
	}

	.converter-section input, .converter-section button, .converter-section form {
		font-family: 'Courier New', monospace;
	}












